html {
  background-color: rgb(255, 255, 255);
}

body {
  background-color: rgb(255, 255, 255);
}
form {
  width: 200px;
  margin: auto;
}

.nav-item:hover {
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

.nav-item:active {
  color: rgb(255, 255, 255);
}

#berita {
  padding-top: 100px;
}
.card-body {
  background-color: rgb(255, 255, 255);
}

.d-flex,
.justify-content-around {
  padding-left: 20px;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  color: aliceblue;
  margin-top: 250px;
  margin-left: 450px;
  position: absolute;
  font-size: 100px;
  z-index: 999;
}
.